html, body {
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mb-3 {
    padding: 10px 0;
    
}

.form-control:hover {
    border: 1px solid blue;
}

#generateButton {
    margin-top: 20px;
    padding: 5px;
}

#visualization {
    margin-top: 50px;

}